main { 
  height: 98vh;
  position: relative;
  font-size: 2em;
  text-wrap: wrap;
}

#card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid red;
}

.social-icon {
    height: 50px;
    margin-right: 10px;
}

details > summary {
    background: url(../img/folder-closed-50x50.png) no-repeat;
    list-style-image: url(../img/folder-closed-50x50.png) no-repeat;
    display: block;
    padding-left: 60px;
    padding-bottom: 10px;
}

details[open] > summary {
    background: url(../img/folder-open-50x50.png) no-repeat;
    list-style-image: url(../img/folder-open-50x50.png) no-repeat;
    display: block;
    padding-left: 60px;
    padding-bottom: 10px;
}
